<ol>
  <% @links.each do |link| %>
    <li><a href="<%= link.link %>"><%= link.title %></a> <small><br>
      <%= link.upvotes %> upvotes | posted by <%= link.posted_by %> | <%= link_to "#{link.comments.length} comments", link_path(link) %>
      | <%= link_to 'edit', edit_link_path(link) %>
      | <%= link_to 'delete', link_path(link), :data=> {:confirm => "You're sure?", :method => "delete"}%></small>
    </li>
  <% end %>
</ol>
